# Compiled source #
###################
*.o
*.so
*.pyc

# Logs and temporaries #
########################
*.log
*~
.coverage

# Folders #
###########
op/
results/
results_final/
work_dir/
work_dir_512/
work_dir_gan_shape/



fastmri_utils.py
test.ipynb

